@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/buttons.css';
@import './components/spinner.css';

body {
    background-color: #040B19;
}

.text-white-important {
    color: white !important;
}

@layer utilities {
    .transition-max-width {
        -webkit-transition-property: max-width;
        transition-property: max-width;
    }
}